# Python virtual environment directory
venv/

# SQLite database files
**/*.sqlite3

# Terraform state files
**/*tfstate*

# Terraform providers directories
.terraform/

# Coverage report files
.coverage